<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.3.xsd">

	<menuitem name="uni-root" title="Rhein waal" order="-108" if=""
		icon="fa-university" icon-background="#2fa042"/>
	<menuitem name="uni-root-university" parent="uni-root"
		title="Universities" action="uni.root.university" order="1"/>

	<action-view name="uni.root.university" title="Universities"
		model="com.axelor.apps.uni.db.University" >
		<view type="grid" name="university-grid"/>
		<view type="form" name="university-form"/>
	</action-view>
	
	<menuitem name="uni-root-professor" parent="uni-root"
		title="Professors" action="uni.root.professor" order="2"/>

	<action-view name="uni.root.professor" title="Professors"
		model="com.axelor.apps.uni.db.Professor" >
		<view type="grid" name="professor-grid"/>
		<view type="form" name="professor-form"/>
	</action-view>
	
	<menuitem name="uni-root-student" parent="uni-root"
		title="Students" action="uni.root.student" order="2"/>

	<action-view name="uni.root.student" title="Students"
		model="com.axelor.apps.uni.db.Student" >
		<view type="grid" name="student-grid"/>
		<view type="form" name="student-form"/>
	</action-view>
	
	<menuitem name="uni-root-project" parent="uni-root"
		title="Uni Projects" order="20"/>
	
	<menuitem name="uni-root-project-project" parent="uni-root-project"
		title="Projects" action="uni.root.project" order="2"/>

	<action-view name="uni.root.project" title="Projects"
		model="com.axelor.apps.uni.db.UniProject" >
		<view type="grid" name="uni-project-grid"/>
		<view type="form" name="uni-project-form"/>
	</action-view>
	
	
	<menuitem name="uni-root-project-document" parent="uni-root-project"
		title="Project Documents" action="uni.root.project.document" order="3"/>

	<action-view name="uni.root.project.document" title="Project Document"
		model="com.axelor.apps.uni.db.ProjectDocument" >
		<view type="grid" name="project-document-grid"/>
		<view type="form" name="project-document-form"/>
	</action-view>
	
</object-views>
